[% PROCESS booktt/preambleexam %]
[% titulacion = 'Tercero del Grado de Informática' %]
[% asignatura = 'PROCESADORES DE LENGUAJES' %]
[% #fecha = '14/03/2013' 
-%]

\begin{document}
[% #nombre = 'Nombre: '; 
   #alu = 'Alu: '
-%]
[% PROCESS booktt/examheader 
-%]


\begin{enumerate}
\input{preguntas.tex}
\end{enumerate}
\end{document}
